We are looking at the dataset from here: https://www.robots.ox.ac.uk/~vgg/data/flowers/17/index.html

In [1]:
from scipy.io import loadmat

import os

import pandas as pd

In [2]:
pwd

'/home/jupyter'

In [3]:
annots = loadmat('flowers/datasplits.mat')

In [4]:
annots;

Turns out these are not useful

# Labels

However, turns out the images are numbered in order - each class has 80 images and hence identifying which is which we get the labels:

In [5]:
classes = ["Daffodil", 
            "Snowdrop",
            "LilyValley",
            "Bluebell",
            "Crocus",
            "Iris",
            "Tigerlily",
            "Tulip",
            "Fritillary",
            "Sunflower",
            "Daisy",
            "ColtsFoot",
            "Dandelion",
            "Cowslip",
            "Buttercup",
            "Windflower",
            "Pansy"]

In [6]:
len(classes)

17

In [7]:
labels = []
for flower_class in classes:
    labels.extend([flower_class]*80)
len(labels)

1360

# Images

In [8]:
images = [image for image in os.listdir("flowers/data_17flowers") if image.endswith("jpg")]
images = sorted(images)
len(images)

1360

In [9]:
images[:10]

['image_0001.jpg',
 'image_0002.jpg',
 'image_0003.jpg',
 'image_0004.jpg',
 'image_0005.jpg',
 'image_0006.jpg',
 'image_0007.jpg',
 'image_0008.jpg',
 'image_0009.jpg',
 'image_0010.jpg']

# Dataframe

In [10]:
flowers_dict = {"image": images, "label":labels}
df = pd.DataFrame(flowers_dict)
df[78:83]

             image     label
78  image_0079.jpg  Daffodil
79  image_0080.jpg  Daffodil
80  image_0081.jpg  Snowdrop
81  image_0082.jpg  Snowdrop
82  image_0083.jpg  Snowdrop

# Validation set

pick first 15% (that is 12 / 80) from each class

In [11]:
validation_size_per_class = int(80*.15)

In [12]:
is_valid_class = [True]*validation_size_per_class + [False]*(80-validation_size_per_class)
is_valid = []
for _ in df.label.unique():
    is_valid.extend(is_valid_class)
len(is_valid)

1360

In [14]:
df["is_valid"] = is_valid
df

               image     label  is_valid
0     image_0001.jpg  Daffodil      True
1     image_0002.jpg  Daffodil      True
2     image_0003.jpg  Daffodil      True
3     image_0004.jpg  Daffodil      True
4     image_0005.jpg  Daffodil      True
...              ...       ...       ...
1355  image_1356.jpg     Pansy     False
1356  image_1357.jpg     Pansy     False
1357  image_1358.jpg     Pansy     False
1358  image_1359.jpg     Pansy     False
1359  image_1360.jpg     Pansy     False

[1360 rows x 3 columns]

# Export csv

In [15]:
df.to_csv("flowers/data_labels.csv", index=False)